<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GAMESS_INTERFCE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <GAMESS_INTERFCE.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="Gamess" serializeAs="String">
                <value />
            </setting>
            <setting name="Gamess_dat_file" serializeAs="String">
                <value />
            </setting>
            <setting name="sender_email" serializeAs="String">
                <value />
            </setting>
            <setting name="sender_password" serializeAs="String">
                <value />
            </setting>
            <setting name="receiver_email" serializeAs="String">
                <value />
            </setting>
            <setting name="Terminated_before_save" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enable_email" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExeFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsGamessInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </GAMESS_INTERFCE.Properties.Settings>
    </userSettings>
</configuration>
